:root {
    --clr-blue-300: hsl(210, 46%, 95%);
    --clr-blue-400: hsl(212, 23%, 69%);
    --clr-blue-500: hsl(214, 17%, 51%);
    --clr-blue-600: hsl(217, 19%, 35%);

    font-family: 'Manrope', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h2, p {
    margin: 0;
}

body {
    color: var(--clr-blue-600);
    font-size: 0.8125rem;
    font-weight: 500;
}

img, picture {
    display: block;
    max-width: 100%;
}

button {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    place-items: center;
    padding: .5rem 0;
    background-color: var(--clr-blue-300);
}

.container {
    width: 95%;
    background-color: #fff;
    border-radius: .625rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 12px;
}

.article-img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}

.article {
    padding: 2.25rem 2rem 1rem;
}

.article-heading {
    font-size: 1.3em;
    margin-bottom: 1rem;
}

.article-text {
    color: var(--clr-blue-500);
    line-height: 1.7;
}

.author-share {
    position: relative;
}

.author, .share-box {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem 2rem;
}

.author-avatar {
    width: 2.5rem;
    border-radius: 50%;
}

.author-name-date {
    flex-grow: 2;
}

.author-name {
    display: block;
    font-weight: 700;
    margin-bottom: .15em;
}

.publish-date {
    color: var(--clr-blue-400);
}

.btn-share {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0;
    border-radius: 50%;
    background-color: var(--clr-blue-300);
    transition: .5s ease;
    z-index: 99;
}

.share-box {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    column-gap: 1.2rem;
    background-color: var(--clr-blue-600);
    opacity: 0;
    transition: all .3s ease;
}

.author-share.active > .share-box {
    opacity: 1;
    transition: all .3s ease;
}

.share-text {
    color: var(--clr-blue-400);
    text-transform: uppercase;
    letter-spacing: 0.4em;
}

.sic-box {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    flex-grow: 2;
}

.author-share.active .btn-share {
    background-color: var(--clr-blue-500);
}

.author-share.active .btn-share > .icon-share {
    filter: brightness(0) invert(1);
}

@media (min-width: 50rem) {
    .wrapper {
        min-height: 100vh;
        align-items: center;
    }

    .container {
        overflow: visible;
        max-width: 45.75rem;
        display: flex;
    }

    .article-imgbox {
        overflow: hidden;
        border-top-left-radius: 0.625rem;
        border-bottom-left-radius: 0.625rem;
        flex-basis: 100%;
        display: flex;
    }

    .article-img {
        height: auto;
        object-position: left center;
    }

    .article-box {
        margin: 0 .5rem 2rem;
    }

    .article-heading {
        font-size: 1.5em;
        margin-bottom: .8em;
    }

    .author {
        padding: 0 2rem;
    }

    .share-box {
        width: auto;
        left: auto;
        right: -4.7rem;
        top: -4.7rem;
        bottom: auto;
        border-radius: .5rem;
        opacity: 0;
        box-shadow: 0 12px 10px -5px hsla(217, 19%, 35%, 0.2);
    }

    .share-box::after {
        border: 1em solid transparent;
        border-top-color: var(--clr-blue-600);
        content: '';
        margin-left: -1em;
        position: absolute;
        top: 99%;
        left: 50%;
        width: 0;
        height: 0;
        filter: drop-shadow(0 7px 10px hsla(217, 19%, 35%, 0.2));
    }

    .author-share.active > .share-box {
        opacity: 1;
    }

}

